.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The animation code */
@keyframes summoner {
  0%   {
    background-size: 110%;
    background-position: 40% top;
  }
  
  50%  {
    background-size: 100%;
    background-position: 70% 30%;  
  }
  100% {
    background-size: 110%;
    background-position: 40% top;
  }
}

/* The element to apply the animation to */
.summoner {    
  animation-name: summoner;
  animation-timing-function: ease-in-out;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

/* .summoner::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 1000%;
  left: -85vw;
  top: -45vh;
  scale: 0.4;
  background: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg") 0 0 no-repeat;
} */
